{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        // Движку нужен проект TS для правил с типами
        "project": "tsconfig.json",
        "tsconfigRootDir": "./src"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        // Базовый набор правил eslint
        "eslint:recommended",
        // Отключаем правила из базового набора
        "plugin:@typescript-eslint/eslint-recommended",
        // Базовые правила для TypeScript
        "plugin:@typescript-eslint/recommended",
        // Правила TS, требующие инфо о типах
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        // Правила для prettier
        "prettier"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "max-len": ["warn", { "code": 80 }]
    }
}